# ignore dataset
images/
cn_one/
cn_gpt/
cn_rl/
cn_ai/
de_rl/
de_ai/
dataset_cn/
dataset_de/
dataset_in/
drop/
*.png

# ignore prompts and ground truth
*.json

# ignore results
# RSfinetune1/
# RSzeroshot/
# *.csv

# ignore models
*.pth
models/

# ignore this
CLIP_finetune_matching.ipynb
CLIP_finetune_matching.py