# ignore dataset
images/
cn_one/
cn_limit/
dataset_cn/
dataset_de/
dataset_in/
*.png

# ignore prompts and ground truth
*.json

# ignore results
# RSfinetune1/
# RSzeroshot/
# *.csv

# ignore models
*.pth
models/